<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Artist</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/musify.css">
</head>
<body>
    <div class="container">
        <div class="card list-container">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Artist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/following">Following</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/account">Account</a>
                </li>
            </ul>

            <br><center><h2>Artist</h2></center><br>

            <form class="form-group" method="POST">
                <div class="col-xs-8">
                    <select class="form-control" id="sel1">
                        <option>All</option>
                        <option th:each="style : ${styleList}"
                                th:text="${style}"></option>
                    </select>
                </div>
                <div class="col-xs-4">
                    <input type="submit" name="select" class="btn btn-lg btn-primary btn-block btn-signin" value="Apply filter"/>
                </div>
                <input type="hidden" id="style" name="style" value="All"/>
            </form>

            <script>
                $(document).on('change', '#sel1', function() {
                    document.getElementById('style').value=$('#sel1').val();
                });
            </script>

            <br><br>

            <form id="lista" method="POST">
                <table class="table table-responsive">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Year</th>
                            <th scope="col">Subscribers</th>
                            <th scope="col">&nbsp</th>
                            <th scope="col">Related artist</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="artist,itrStat : ${artistList}">
                            <td th:text="${artist.id}">
                            <td th:text="${artist.name}">
                            <td th:text="${artist.year}">
                            <td th:text="${artist.people.size()}">
                            <td><input type="submit" name="follow" class="btn btn-success btn-sm" value="Follow" th:onclick="'setIndex(' + ${itrStat.index} + ')'"/></td>
                            <input id="seleccionado" type="hidden" name="seleccionado" th:value="${artist.id}"/>

                            <td><div class="popup btn btn-info btn-sm" th:onclick="'openPopUp' + ${itrStat.index} + '()'">Related
                                <span class="popuptext" th:id="'myPopup' + ${itrStat.index}">List of related artist</p></span>
                            </div></td>
                            <script th:inline="javascript">
                                function openPopUp[[${itrStat.index}]]() {
                                    var popup = document.getElementById("myPopup[[${itrStat.index}]]");
                                    popup.classList.toggle("show");
                                }
                            </script>
                        </tr>
                    </tbody>
                </table>
                <input id="indexSel" type="hidden" name="indexSel" value=""/>
                <script>
                    function setIndex(index) {
                        document.getElementById('indexSel').value = index;
                    }
                </script>
            </form>
            <label>Results: <span th:if="${artistList!=null}" th:text="${#lists.size(artistList)}"/></label>
            <br><br>
            <a class="btn btn-lg btn-primary btn-block btn-signin" th:href="@{/logout}">Log Out</a>
            <br>
            <div th:replace="fragments/footer :: footer"/>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#sel1 option:contains("[[${selectedStyle}]]")').prop('selected', true);
        });
    </script>
</body>
</html>